/* sass --watch scss:css */
/*Paramteros Globales*/
/*desktop*/
@font-face {
  font-family: "Assassin";
  src: url("../Fonts/Assassin$.ttf");
}
* {
  margin: 0%;
  padding: 0%;
  font-size: 62.5%;
}

@media (max-width: 768px) {
  h1 {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    font-family: "Assassin", serif;
    font-size: 4rem;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: blanchedalmond;
  }
}
/* MENU MOBILE */
.navDivHeader ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navDivHeader ul li {
  margin: 0;
  padding: 0;
}
.navDivHeader ul a {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 768px) {
  .navDivHeader ul {
    display: none;
    flex-direction: column;
    text-align: center;
  }
  .navDivHeader ul #check_menu {
    display: block;
  }
  .navDivHeader ul .bx-menu {
    display: block;
  }
  .navDivHeader ul li {
    margin-bottom: 10px;
  }
}

.contenedorDeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "main main main" "main main main" "main main main" "footer footer footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

@media (max-width: 412px) {
  .contenedorDeGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "header " "main main" "main main" "main main " "footer ";
  }
  .header {
    grid-area: header;
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
  }
}
/*HTML*/
/* Header */
header {
  position: sticky;
  top: 0%;
}

header .header {
  width: 100%;
  height: 100%;
}
header .header .divHeader {
  /* width: 50px; */
}
header .header .containerLogo .imgLogo {
  width: 50px;
  background-color: black;
}

h1 {
  height: 100%;
  font-family: "Assassin", serif;
  font-size: 6rem;
  text-align: center;
  background-color: black;
  color: blanchedalmond;
  margin-bottom: -1%;
}

#check_menu, .navDivHeader label {
  display: none;
}

.navDivHeader {
  height: 100%;
}
.navDivHeader .ulNavDivHeader {
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  justify-content: right;
  display: flex;
  list-style: none;
  background-color: black;
  /*     display: block; */
}
.navDivHeader .ulNavDivHeader .liUlNavHeader {
  margin-right: 50px;
}
.navDivHeader .ulNavDivHeader .liUlNavHeader:hover {
  background-image: linear-gradient(to right, #000000, #331d1f, #62342e, #8e5135, #b47536, #b47536, #b47536, #b47536, #8e5135, #62342e, #331d1f, #000000);
}
.navDivHeader .ulNavDivHeader .liUlNavHeader:active {
  background-color: rgba(212, 175, 55, 0.8235294118);
  color: rgba(0, 0, 0, 0.829);
  border-radius: 3px;
}
.navDivHeader .ulNavDivHeader .liUlNavHeader .aLiUlNavHeader {
  color: #D4AF37;
  text-decoration: none;
  font-family: "Young Serif", serif;
  font-size: 2rem;
}

/* Main */
main {
  margin-top: -1%;
}
main img {
  height: 100%;
  width: 100%;
  justify-content: center;
}
main .descripcion {
  padding: 30px;
  background-color: black;
  margin-top: -5px;
}
main .historia {
  padding: 30px;
  background-color: black;
  margin-top: -5px;
}
main h2 {
  font-size: 5rem;
  text-align: center;
  color: #D4AF37;
  background-color: black;
}
main p {
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
}
main .aniversario15 {
  width: 100%;
  height: 720px;
  justify-content: center;
}
main .videoAniversario {
  height: 100%;
  width: 100%;
}

.footer .arriba {
  font-size: 3rem;
  background-color: black;
  color: #D4AF37;
}
.footer .aDiv {
  color: #D4AF37;
  list-style: none;
  text-decoration: none;
}

/*Page Historia*/
.divHistoriaOdyssey {
  padding: 30px;
  background-color: black;
  margin-top: -5px;
}

/*Page Peronsajes Emblematicos*/
.divAltairPE {
  padding: 30px;
  background-color: black;
  margin-top: -5px;
}

/*Page Jugabilidad y Mecanicas*/
.textoJugabilidadYMcanicas {
  padding: 30px;
  background-color: black;
  margin-top: -5px;
}

/*Page Galeria de Imagenes*/
.galeria {
  padding: 30px;
  background-color: black;
  display: flex;
  display: block;
}

.imgGaleria {
  margin-top: 30px;
  width: 100%;
  justify-content: center;
}

/*Page Contacto*/
/* .sectionFormulario{
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.sectionFormulario h2{
    text-align:start;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}
form{
    justify-content: center;
    color: #D4AF37;
    background-color: black;
    font-size: 3rem;
} */
.sectionFormulario {
  margin-top: 15px;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionFormulario h2 {
  text-align: left;
  font-size: 5rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  padding: 20px;
  color: #D4AF37;
  font-size: 4rem;
}
.formulario label {
  color: #D4AF37;
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.formulario input,
.formulario select,
.formulario textarea {
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #D4AF37;
  border-radius: 5px;
  background-color: black;
  color: #D4AF37;
  width: 100%;
  font-size: 2rem;
}
.formulario textarea {
  resize: vertical;
}
.formulario input[type=submit] {
  background-color: #D4AF37;
  color: black;
  cursor: pointer;
}

/*Media quieres*/

/*# sourceMappingURL=styles.css.map */
