/* sass --watch scss:css */
/*Paramteros Globales*/
/*desktop*/
@font-face {
  font-family: "Assassin";
  src: url("../Fonts/Assassin$.ttf");
}
* {
  margin: 0%;
  padding: 0%;
  font-size: 62.5%;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* @media (min-width: 768px) {
    h1{
        display:flex ;
        flex-direction:column;
        padding-top: 2%;
        font-family: 'Assassin', serif ;
        font-size: 4rem;
        text-align:center;
        background-color: rgb(0, 0, 0);
        color: blanchedalmond;
    } 
} */
/* MENU MOBILE */
@media (max-width: 768px) {
  .content {
    min-height: 70px;
  }
  .content .menu {
    top: 0;
    padding: 20px;
  }
  .content .menu label {
    display: initial;
  }
  .content .menu .navBar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
  }
  .content .menu .navBar li {
    width: 100%;
  }
  .content .menu #menu:checked ~ .navBar {
    display: initial;
  }
}
@media (max-width: 412px) {
  .content {
    min-height: 30px;
  }
  .content .menu {
    top: 0;
    padding: 5px;
  }
  .content .menu .logoTitulo {
    display: flex;
    flex-direction: column;
  }
  .content .menu .logoTitulo .imgLogo {
    height: 70px;
    width: 50px;
  }
  .content .menu .logoTitulo span {
    font-size: 5rem;
  }
  .content .menu label {
    display: initial;
  }
  .content .menu .navBar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
  }
  .content .menu .navBar li {
    width: auto;
  }
  .content .menu #menu:checked ~ .navBar {
    display: initial;
  }
}
/*     @media (max-width: 412px) {
        .contenedorDeGrid {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-template-areas: "header " "main main" "main main" "main main " "footer ";
        }
        .header {
          grid-area: header;
        }
        .main {
          grid-area: main;
        }
        .footer {
          grid-area: footer;
        }
      } */
.contenedorDeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "main main main" "main main main" "main main main" "footer footer footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

@media (max-width: 412px) {
  .contenedorDeGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "header " "main main" "main main" "main main " "footer ";
  }
  .header {
    grid-area: header;
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
  }
}
/*HTML*/
/* Header */
header {
  position: sticky;
  top: 0%;
  width: 100%;
  height: 100%;
}
header .content {
  height: 100%;
}
header .container-fluid {
  margin: auto;
}
header .container-fluid .imgLogo {
  width: 100px;
  background-color: black;
}
header .container-fluid span {
  /* font-size: 6rem;
  text-align: center;
  background-color: black;
  margin-bottom: -1%; */
  font-size: 6rem;
  font-weight: 600;
  color: blanchedalmond;
  font-family: "Assassin", serif;
  height: 100%;
}
header .menu {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
header .menu .logoTitulo {
  align-items: center;
}
header .menu .navBar {
  height: 100%;
  width: 100%;
  justify-content: space-around;
}
header .menu .navBar ul {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2rem;
  justify-content: space-around;
  display: flex;
  list-style: none;
  background-color: black;
}
header .menu .navBar ul li {
  margin-right: 50px;
}
header .menu .navBar ul li a {
  color: #D4AF37;
  text-decoration: none;
  font-family: "Young Serif", serif;
  font-size: 2rem;
}
header .menu .navBar ul li:hover {
  background-image: linear-gradient(to right, #000000, #331d1f, #62342e, #8e5135, #b47536, #b47536, #b47536, #b47536, #8e5135, #62342e, #331d1f, #000000);
}
header .menu .navBar ul li:active {
  background-color: rgba(212, 175, 55, 0.8235294118);
  color: rgba(0, 0, 0, 0.829);
  border-radius: 3px;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

/* Main */
main {
  background-color: black;
}
main img {
  height: 100%;
  width: 100%;
  justify-content: center;
}
main .descripcion {
  padding: 30px;
  background-color: black;
}
main .historia {
  padding: 30px;
  background-color: black;
}
main h2 {
  font-size: 5rem;
  text-align: center;
  color: #D4AF37;
  background-color: black;
}
main p {
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
}
main .aniversario15 {
  width: 100%;
  height: 720px;
  justify-content: center;
}
main .videoAniversario {
  height: 100%;
  width: 100%;
}

.footer .arriba {
  font-size: 3rem;
  background-color: black;
  color: #D4AF37;
}
.footer .aDiv {
  color: #D4AF37;
  list-style: none;
  text-decoration: none;
}

/*Page Historia*/
.divHistoriaOdyssey {
  padding: 30px;
  background-color: black;
  margin-top: -5px;
}

/*Page Peronsajes Emblematicos*/
.divAltairPE {
  padding: 30px;
  background-color: black;
  margin-top: -5px;
}

/*Page Jugabilidad y Mecanicas*/
.textoJugabilidadYMcanicas {
  padding: 30px;
  background-color: black;
  margin-top: -5px;
}

/*Page Galeria de Imagenes*/
.galeria {
  padding: 30px;
  background-color: black;
  display: flex;
  display: block;
}

.imgGaleria {
  margin-top: 30px;
  width: 100%;
  justify-content: center;
}

/*Page Contacto*/
.sectionFormulario {
  margin-top: 15px;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionFormulario h2 {
  text-align: left;
  font-size: 5rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  padding: 20px;
  color: #D4AF37;
  font-size: 4rem;
}
.formulario label {
  color: #D4AF37;
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.formulario input,
.formulario select,
.formulario textarea {
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #D4AF37;
  border-radius: 5px;
  background-color: black;
  color: #D4AF37;
  width: 100%;
  font-size: 2rem;
}
.formulario textarea {
  resize: vertical;
}
.formulario input[type=submit] {
  background-color: #D4AF37;
  color: black;
  cursor: pointer;
}

/*Media quieres*/

/*# sourceMappingURL=styles.css.map */
