/* sass --watch scss:css */
/*Paramteros Globales*/
/*desktop*/
@import"./partials/variables";
@import"./partials/reset";
@import"./partials/queries";
@import"./partials/grids";
/*HTML*/
/* Header */
header{
    position: sticky;
    top: 0%;
}
header .header{
    width: 100%;
    height: 100%;
    .divHeader{
        /* width: 50px; */
    }
    .containerLogo .imgLogo{
        width: 50px;
        background-color: black;
    }
}
h1{
    height: 100%;
    font-family: 'Assassin', serif ;
    font-size: 6rem;
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    margin-bottom: -1%;
}
#check_menu, .navDivHeader label {
    display: none;
}
.navDivHeader{
    height: 100%;
    .ulNavDivHeader{
        padding: 10px;
        text-align:center;
        font-size: 2rem;
        justify-content: right;
        display: flex;
        list-style: none;
        background-color: black;
    /*     display: block; */
        .liUlNavHeader {
        margin-right: 50px;
        &:hover{
            background-image: linear-gradient(to right, #000000, #331d1f, #62342e, #8e5135, #b47536, #b47536, #b47536, #b47536, #8e5135, #62342e, #331d1f, #000000);
            }
        &:active{
                background-color:#d4af37d2;
                color: rgba(0, 0, 0, 0.829);
                border-radius: 3px;
            }
        .aLiUlNavHeader{
                color: #D4AF37;
                text-decoration: none;
                font-family: 'Young Serif', serif;
                font-size: 2rem;
            }

        }
    }
}     
    /* Main */
main{
    margin-top: -1%;
    img {
        height: 100%;
        width: 100%;
        justify-content: center;
    }
    .descripcion {
        padding: 30px;
        background-color: black;
        margin-top: -5px;
    }
    .historia{
        padding: 30px;
        background-color: black;
        margin-top: -5px;
    }
    h2{
        font-size: 5rem;
        text-align: center;
        color: #D4AF37;
        background-color: black;
    }
    p{
        font-size: 1.5rem;
        text-align: center;
        color: #ffffff;
        margin-top: 10px;
    }
    .aniversario15{
        width: 100%;
        height: 720px;
        justify-content: center;
    }
    .videoAniversario{
        height: 100%;
        width: 100%;
    
    }
}
.footer{
    .arriba{
        font-size: 3rem;
        background-color: black;
        color: #D4AF37;
    }
    .aDiv{
        color: #D4AF37;
        list-style: none;
        text-decoration: none;
    }
}

/*Page Historia*/
.divHistoriaOdyssey{
    padding: 30px;
    background-color: black;
    margin-top: -5px;
}
/*Page Peronsajes Emblematicos*/
.divAltairPE{
    padding: 30px;
    background-color: black;
    margin-top: -5px;
}
/*Page Jugabilidad y Mecanicas*/
.textoJugabilidadYMcanicas{
    padding: 30px;
    background-color: black;
    margin-top: -5px;
}
/*Page Galeria de Imagenes*/
.galeria{
    padding: 30px;
    background-color: black;
    display: flex;
    display:block;
}
.imgGaleria{
    margin-top: 30px;
    width: 100%;
    justify-content: center;
}
/*Page Contacto*/
/* .sectionFormulario{
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.sectionFormulario h2{
    text-align:start;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}
form{
    justify-content: center;
    color: #D4AF37;
    background-color: black;
    font-size: 3rem;
} */
.sectionFormulario {
    margin-top: 15px;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    h2 {
        text-align: left; 
        font-size: 5rem; 
    }
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    padding: 20px; 
    color: #D4AF37;
    font-size: 4rem;
    label {
        color: #D4AF37;
        font-size: 1.5rem;
        margin-bottom: 5px; 
    }

    input,
    select,
    textarea {
        margin-top: 10px;
        padding: 10px;
        margin-bottom: 15px; 
        border: 1px solid #D4AF37;
        border-radius: 5px;
        background-color: black;
        color: #D4AF37;
        width: 100%;
        font-size: 2rem; 
    }

    textarea {
        resize: vertical;
    }

    input[type="submit"] {
        background-color: #D4AF37;
        color: black;
        cursor: pointer;
    }
}
/*Media quieres*/
