/* sass --watch scss:css */
/*Paramteros Globales*/
/*desktop*/
@import"./partials/variables";
@import"./partials/reset";
@import"./partials/queries";
@import"./partials/grids";
/*HTML*/
/* Header */
header {
    position: sticky;
    top: 0%;
    width: 100%;
    height: 100%;
    
    .content{
        height: 100%;
        
    }
    .container-fluid{
        margin: auto;
        
        .imgLogo{
            width: 100px;
            background-color: black;
        }
        span{
            /* font-size: 6rem;
            text-align: center;
            background-color: black;
            margin-bottom: -1%; */
            font-size: 6rem;
            font-weight: 600;
            color: blanchedalmond;
            font-family: "Assassin", serif;
            height: 100%;
        }
    }
    .menu{
        height: auto;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        .logoTitulo{
            align-items: center;

        }
        .navBar{
            height: 100%;
            width: 100%;
            justify-content: space-around;
            ul{
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 2rem;
                justify-content: space-around;
                display: flex;
                list-style: none;
                background-color: black;
    
                li{
                    margin-right: 50px;
                    a{
                        color: #D4AF37;
                        text-decoration: none;
                        font-family: "Young Serif", serif;
                        font-size: 2rem;
                    }
    
                }
                li:hover{
                    background-image: linear-gradient(to right, #000000, #331d1f, #62342e, #8e5135, #b47536, #b47536, #b47536, #b47536, #8e5135, #62342e, #331d1f, #000000);
                }
                li:active{
                    background-color: rgba(212, 175, 55, 0.8235294118);
                    color: rgba(0, 0, 0, 0.829);
                    border-radius: 3px;
                }
            }
        }
    
    }
}
#menu {
    display: none;
}
.menu-icono {
    width: 25px;
}
.menu label {
    cursor: pointer;
    display:none;
}
    /* Main */
main{
    background-color: black;
    img {
        height: 100%;
        width: 100%;
        justify-content: center;
    }
    .descripcion {
        padding: 30px;
        background-color: black;
    }
    .historia{
        padding: 30px;
        background-color: black;
    }
    h2{
        font-size: 5rem;
        text-align: center;
        color: #D4AF37;
        background-color: black;
    }
    p{
        font-size: 1.5rem;
        text-align: center;
        color: #ffffff;
        margin-top: 10px;
    }
    .aniversario15{
        width: 100%;
        height: 720px;
        justify-content: center;
    }
    .videoAniversario{
        height: 100%;
        width: 100%;
    
    }
}
.footer{
    .arriba{
        font-size: 3rem;
        background-color: black;
        color: #D4AF37;
    }
    .aDiv{
        color: #D4AF37;
        list-style: none;
        text-decoration: none;
    }
}

/*Page Historia*/
.divHistoriaOdyssey{
    padding: 30px;
    background-color: black;
    margin-top: -5px;
}
/*Page Peronsajes Emblematicos*/
.divAltairPE{
    padding: 30px;
    background-color: black;
    margin-top: -5px;
}
/*Page Jugabilidad y Mecanicas*/
.textoJugabilidadYMcanicas{
    padding: 30px;
    background-color: black;
    margin-top: -5px;
}
/*Page Galeria de Imagenes*/
.galeria{
    padding: 30px;
    background-color: black;
    display: flex;
    display:block;
}
.imgGaleria{
    margin-top: 30px;
    width: 100%;
    justify-content: center;
}
/*Page Contacto*/
.sectionFormulario {
    margin-top: 15px;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    h2 {
        text-align: left; 
        font-size: 5rem; 
    }
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    padding: 20px; 
    color: #D4AF37;
    font-size: 4rem;
    label {
        color: #D4AF37;
        font-size: 1.5rem;
        margin-bottom: 5px; 
    }

    input,
    select,
    textarea {
        margin-top: 10px;
        padding: 10px;
        margin-bottom: 15px; 
        border: 1px solid #D4AF37;
        border-radius: 5px;
        background-color: black;
        color: #D4AF37;
        width: 100%;
        font-size: 2rem; 
    }

    textarea {
        resize: vertical;
    }

    input[type="submit"] {
        background-color: #D4AF37;
        color: black;
        cursor: pointer;
    }
}
/*Media quieres*/
